html { height: 100% }
body { height: 100% }

#h
{
    color: #D1D5DC;
    background-color: #00A;
    padding: 0px 1px 10px 10px;
    margin-bottom: -24px
}

#h h4
{
    font-family: Tahoma, “Lucida Grande”, Arial, sans-serif;
    font-size: 24pt; 
    padding: 0px 10px 0px 10px;
    margin-bottom: 5px;
}

#h ul li{
    display: inline;
}
#map_canvas
{
    height: 90%;
    width: 80%;
    margin: 0px 10px 0px 10px;
    padding: 10px;
    margin-top: -3px;
}

#info
{
    position: absolute;
    right: 0em;
    top: 0em;
    background: #FFF;
    width: 17%;
    height: 100%;
    padding: 0em;
}

.locs 
{
    text-align: left;
    color: #000;
    list-style: none;
    margin:0;
    padding: 0;
    line-height: 24px;
    position: relative;
} 

.locs li:before
{
    z-index: 1;
}

.locs li
{
    font-family: Tahoma, “Lucida Grande”, Arial;
    color: #FFE;
    margin: 0 10px 0px 10px;
    padding: 0 10px;
    background-color: #858585;
    display: inline-block;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;  
}

.locs li.selected
{
    background: #D1D5DC;
    border-bottom: 1px solid #111111;
    color: #000;
    z-index: 2;
}
