html { height:100% }
body { height: 100% }

#h
{
    color: #73BFFF;
    background-color: #006;
    border: inset;
    padding: 0px 10px 0px 10px;
}

#h h4
{
    font-family: Tahoma, “Lucida Grande”, Arial, sans-serif;
    font-size: 24pt; 
    margin-bottom: -10px;
}

#h ul li{
    display: inline;
}

#map_canvas
{
    background-color: #000000;
    height: 80%;
    margin: 0px 10px 10px 10px;
    border: inset;
    padding: 10px;
}
