doctype 5
html
  head
    title= title
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')

    script(src='/leaflet/leaflet.js')
    link(rel='stylesheet', href='/leaflet/leaflet.css')

    script(src='/javascripts/TileLayer.ESRI.js')
    script(src='/javascripts/controllers.js')

    link(rel='stylesheet', type='text/css',  href='/stylesheets/foundation.css')
    script(type='text/javascript', src='/javascripts/jquery.foundation.navigation.js')
    script(type='text/javascript', src='/javascripts/jquery.foundation.tabs.js')
    script(type='text/javascript', src='/javascripts/modernizr.foundation.js')


    script(type='text/javascript', src='/javascripts/iscroll.js')

    link(rel='stylesheet', type='text/css' , href='/stylesheets/outdoorshi.css')

  body(ng-app)
    block content
    script(src='/javascripts/init.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.js')
      
