doctype 5
html
  head
    title= title
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')

    script(src='/leaflet/leaflet.js')
    link(rel='stylesheet', href='/leaflet/leaflet.css')

    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.js')

    script(type='text/javascript', src='/javascripts/foundation/jquery.foundation.navigation.js')
    script(type='text/javascript', src='/javascripts/foundation/jquery.foundation.tabs.js')
    script(type='text/javascript', src='/javascripts/foundation/jquery.foundation.accordion.js')
    script(type='text/javascript', src='/javascripts/foundation/modernizr.foundation.js')
    link(rel='stylesheet', type='text/css',  href='/stylesheets/foundation.css')

    script(type='text/javascript', src='/javascripts/leaflet.markercluster-src.js')
    link(rel='stylesheet', type='text/css',  href='/stylesheets/MarkerCluster.css')
    link(rel='stylesheet', type='text/css',  href='/stylesheets/MarkerCluster.Default.css')
    link(rel='stylesheet', type='text/css',  href='/stylesheets/MarkerCluster.Default.ie.css')

    script(src='/javascripts/app/application.js')
    script(src='/javascripts/app/controllers.js')
    script(src='/javascripts/app/directives.js')
    script(src='/javascripts/app/filters.js')

    script(src='/javascripts/jquery.offcanvas.js')
    script(src='/stylesheets/offcanvas.css')

    script(type='text/javascript', src='/javascripts/facebox.js')
    link(rel='stylesheet', type='text/css',  href='/stylesheets/facebox.css')
      
    //script(type='text/javascript', src='https://static.firebase.com/v0/firebase.js')
    link(rel='stylesheet', type='text/css' , href='/stylesheets/fc-webicons.css')
    link(rel='stylesheet', type='text/css' , href='/stylesheets/outdoorshi.css')

  body.off-canvas.hide-extras(ng-app="outdoorshi")
    block content
    script(src='/javascripts/init.js')
