extends default 

block content
  #container
    .row
      .twelve.columns#header
        h1 Outdoors Hawaii
    .row#content
      #sidebar.three.columns(ng-controller="optionsCtrl")
        dl.tabs#tabs
          dd(class="{{{true: 'active', false: ''}[current_tab == 'options']}}" , ng-click="current_tab = 'options'") 
            a(href="#") Filter
          dd(class="{{{true: 'active', false: ''}[current_tab == 'parks']}}", ng-click="current_tab = 'parks'") 
            a(href="#") Parks
        ul.tabs-content
          li#optionsTab(class="{{{true: 'active', false: ''}[current_tab == 'options']}}")
            dl#options-nav.side-nav.nav-bar.vertical
              dd(ng-repeat="option in opts", class="{{{true: 'active', false: ''}[option.value]}}", ng-click="option.value = !option.value")
                img.feature-pic(ng-src="/images/icons/{{option.key}}.svg")
                {{option.name}}
          li#parksTab(class="{{{true: 'active', false: ''}[current_tab == 'parks']}}")
            dl#parks-nav.side-nav.nav-bar.vertical(ng-controller="mapCtrl")
              dd(class="{{{true: 'active', false: ''}[$rootScope.current_park == park]}}", ng-repeat="park in parks", ng-click="$rootScope.current_park = park")
                {{park.attributes.NAME}}
      .nine.columns(ng-controller="mapCtrl")
        leaflet
