extends default 

block content
  #container
    .row
      .twelve.columns#header
        h1 Outdoors Hawaii
    .row
      dl.tabs.two.columns
        dd.active
          a(href="#options") Filter
        dd
          a(href="#parks") Parks
      ul.tabs-content
        li.active#optionsTab
          dl#parks-nav.side-nav.nav-bar.two.columns.vertical(ng-controller="optionsCtrl")
            dd(ng-repeat="option in opts", class="{{{true: 'active', false: ''}[option.value]}}")
              a(href="#")
                img.feature-pic(src="/images/icons/{{option.key}}.svg")
                {{option.name}}
      #body.nine.columns
        h3 Welcome to Outdoors Hawaii
        p 
        | We automatically found the parks within 20 miles of your current location.
        | Use the sidebar to customize which sport or feature you'd like at your park.
