extends default 

block content
  #container
    .row(ng-controller="optionsCtrl")
      .twelve.columns#header
        a.small.button.round(style="float: right; margin-top: 28px;", ng-click="promptFilter()") Filter
        a.fc-webicon.foursquare(style="float: right; margin-top: 28px;", ng-click="promptFoursquare()") Foursquare
        h1 Outdoors Hawaii
    .row
      nav#sidebar.three.columns.hide-for-portrait(ng-controller="optionsCtrl", role="navigation")
        dl.tabs#tabs
          dd(class="{{{true: 'active', false: ''}[current_tab == 'parks']}}", ng-click="current_tab = 'parks'") 
            a(href="#") Parks
          dd(class="{{{true: 'active', false: ''}[current_tab == 'hikes']}}", ng-click="current_tab = 'hikes'") 
            a(href="#") Hikes 
        ul.tabs-content(ng-controller="mapCtrl")
          li#parksTab(class="{{{true: 'active', false: ''}[current_tab == 'parks']}}")
            ul.accordion
              li(id="group_{{group}}", ng-repeat="(group, groupparks) in grouped_parks")
                  .title(ng-click="toggleActive(group)")
                    h5 {{group}} ({{groupparks.length}})
                  .content
                    dl.parks-nav.side-nav.nav-bar
                      dd(ng-repeat="park in groupparks", ng-click="selectPark(park, true)", ng-class="park | currentPark", id="park_{{$index}}", ng-init="init(park, $index)")
                        {{park.attributes.NAME}}
          li#hikesTab(class="{{{true: 'active', false: ''}[current_tab == 'hikes']}}",ng-style="{height : current_height}")
            dl#hikes-nav.side-nav.nav-bar.vertical(ng-controller="mapCtrl")
              dd(ng-repeat="hike in hikes", ng-click="selectHike(hike)", ng-class="hike | currentHike")
                {{hike.attributes.TRAILNAME}}
          // li#optionsTab(class="{{{true: 'active', false: ''}[current_tab == 'options']}}", ng-style="{height : current_height}")
          //   dl#options-nav.side-nav.nav-bar.vertical(style="height = $window.height()")
          //     dd(ng-repeat="option in opts", ng-click="filterFeature(option)", ng-class="isActive(option)")
          //       img.feature-pic(ng-src="/images/icons/{{option.key}}.svg")
          //       {{option.name}}
      #content.nine.columns(ng-controller="mapCtrl", role="main")
        leaflet
    .row.show-for-portrait
      p(ng-controller="optionsCtrl")
        a(class="sidebar-button button", id="sidebarButton", href="#mobile-sidebar", ng-click="showNav()") Menu
