extends default 

block content
  #container
    .row
      .twelve.columns#header
        h1 Outdoors Hawaii
    .row
      #sidebar.three.columns(ng-controller="optionsCtrl")
        {{current_tab}}
        dl.tabs#tabs
          dd(class="{{{true: 'active', false: ''}[current_tab == 'options']}}" , ng-click="current_tab = 1) 
            a(href="#") Filter
          dd(class="{{{true: 'active', false: ''}[current_tab == 'parks']}}", ng-click="current_tab = 2) 
            a(href="#") Parks
        ul.tabs-content
          li#optionsTab(class="{{{true: 'active', false: ''}[current_tab == 'options']}}")
            dl#options-nav.side-nav.nav-bar.vertical
              dd(ng-repeat="option in opts", class="{{{true: 'active', false: ''}[option.value]}}", ng-click="option.value = !option.value")
                img.feature-pic(ng-src="/images/icons/{{option.key}}.svg")
                {{option.name}}
          li#parksTab
          |  Insert parks here
      #body.nine.columns
        h3 Welcome to Outdoors Hawaii
        p 
        | We automatically found the parks within 20 miles of your current location.
        | Use the sidebar to customize which sport or feature you'd like at your park.
