extends default 

block content
  #container
    .row
      .twelve.columns#header
        h1 Outdoors Hawaii
    .row
      #sidebar.two.columns
        dl.tabs#tabs
          dd.active
            a(href="#options") Filter
          dd
            a(href="#parks") Parks
        ul.tabs-content#sidebar
          li.active#optionsTab
            dl#options-nav.side-nav.nav-bar.vertical(ng-controller="optionsCtrl")
              dd(ng-repeat="option in opts", class="{{{true: 'active', false: ''}[option.value]}}")
                img.feature-pic(src="/images/icons/{{option.key}}.svg")
                {{option.name}}
          li#parksTab
            dl#parks-nav.side-nav.nav-bar.vertical(ng-controller="parksCtrl")
      #body.nine.columns
        h3 Welcome to Outdoors Hawaii
        p 
        | We automatically found the parks within 20 miles of your current location.
        | Use the sidebar to customize which sport or feature you'd like at your park.
