body {
    font-family: sans-serif; 
    height: 100%; 
}

h4 { 
    margin-left: 10px;
}

#sidebar {
    position: absolute;  
    padding: 0px;
}

#parksTab, #hikesTab {
    margin-top: 88px; 
}

.parks-nav ,  #hikes-nav {
    position: relative; 
    list-style-type: none;
    line-height: 48px;
    margin-top: -20px;
    width: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.parks-nav {
    height: auto;
}

ul.tabs-content {
    margin-top: -89px;
}

.tabs-content dd, #options-nav dd{
    font-size: 14px;
    border-bottom: 1px solid #777;
    padding: 0 10px;
    background: #FAFAFA; 
}

#options-nav dd {
    padding: 10px;
}

.tabs-content dd.active, #options-nav dd.active {
    background: #00B73B;
}

.tabs-content a {
    color: #FAFAFA;
}

#header {
    border-bottom: 1px solid #777;
    background: #00B73B;
    display: inline-block; 
}

#header h1{
    color: #FAFAFA; 
}

.feature-pic {
    width: 19px;
    margin: 14px 5px 0px;
}

.nav-bar {
    background: #FAFAFA; 
}

.row {
    width: 100%;
}

#tabs {
    width: 100%;
}

leaflet {
    z-index: 0;
}

.leaflet-popup-pane dl {
    margin: 5px;
}

.leaflet-popup-pane dd{ 
    padding: 2px 5px; 
}

#content {
    display: inline-block;
}
  
#content {
    padding: 0;
}

dl#features {
    padding: 10px;
}


dl#features dd {
    text-transform: lowercase;
}

dl#features dd:last-child {
    border; none; 
}

#features dd{
    display: inline;
}

.placeholder {
    height: 10px;
    width: 10px;
    margin: 2px 5px;
}

#facebox {
    z-index: 1001;
}
