body, html { width: 100%; height: 100%}

body {
    font-family: sans-serif; 
}

h4 { 
    margin-left: 10px;
}

#parks-sidebar {
    margin-left: -40px;
    list-style-type: none;
    line-height: 48px;
    width: 100%;
    border-top: 1px solid #bababa;
    margin-top: 0px;
}

#header {
    border-bottom: 1px solid #777;
}


#features-sidebar ul {
    list-style-type: none;
}

#features-sidebar li {
    font-size: 14px;
    border-bottom: 1px solid #bababa;
    padding: 0 5px;
}

.feature-pic {
    width: 19px;
    margin: 14px 5px 0px;
}

.viewNavigator_header_title {
    max-width: 75%;
}

#instagram_button {
    background: rgb(130, 224, 122);
    border-radius: 2px;
    border: 1px solid #bababa;
    padding:  6px;
    margin: 10px;
}
