body {
    font-family: sans-serif; 
    height: 100%; 
}

h4 { 
    margin-left: 10px;
}

#sidebar {
    position: absolute;  
    padding: 0px;
}

#parkTab {
    margin-top : 100px;
}

#parks-nav , #options-nav {
    position: relative; 
    list-style-type: none;
    line-height: 48px;
    margin-top: 89px;
    width: 100%;
    height: 800px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

ul.tabs-content {
    margin-top: -89px;
}

.tabs-content dd{
    font-size: 14px;
    border-bottom: 1px solid #777;
    background: #FAFAFA; 
}

.tabs-content dd.active {
    background: #00B73B;
}

.tabs-content a {
    color: #FAFAFA;
}

#header {
    border-bottom: 1px solid #777;
    background: #00B73B;
}

#header h1{
    color: #FAFAFA; 
}

.feature-pic {
    width: 19px;
    margin: 14px 5px 0px;
}

.nav-bar {
    background: #FAFAFA; 
}

.row {
    width: 100%;
}

#tabs {
    width: 100%;
}
