body, html { width: 100%; height: 100%}

body {
    font-family: sans-serif; 
}

h4 { 
    margin-left: 10px;
}

#parks-sidebar {
    margin-left: -40px;
    list-style-type: none;
    line-height: 48px;
    width: 100%;
    border-top: 1px solid #bababa;
    margin-top: 0px;
}

#parks-sidebar li {
    font-size: 14px;
    border-bottom: 1px solid #bababa;
    padding: 0 5px;
}

.feature-pic-block {
    display: inline-block;
    border: 2px solid #333;
    margin: 5px; 
    padding: 3px;
    height: 30px;
}

.feature-pic-block img {
    position: relative;
    width: 30px;
}

.viewNavigator_header_title {
    max-width: 75%;
}
